<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <app-sidebar-cmp></app-sidebar-cmp>
  </div>

  <div class="main-panel">
    <app-navbar-cmp></app-navbar-cmp>

    <div class="content">

      <app-flight-search></app-flight-search>

      <!-- <h1>{{ title }}</h1>
      <p>
        <button
          class="btn btn-default"
          (click)="changeTitle()"
        >
          Change Title
        </button>
      </p> -->
    </div>
  </div>
</div>
